.countdown-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    padding-top: 9px;
    padding-bottom: 9px;
    flex: 0 1 auto;
    align-self: center;
}

.btn {
    margin: 10px 10px;
}

.display-progress-container {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
   }

.diasplay-progress-flex-box {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
   }

.InputField-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    margin: 5px;
    margin-left: 0;
    padding: 5px;
    padding-left: 0;
    flex: 0 1 auto;
    align-self: center;
}

.InputField-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   }

.InputField-buttons-flex-box {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
   }